.cross {
  position: fixed; /* Fixed/sticky position */
  top: 11%; /* Place the button at the bottom of the page */
  right: 10%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: green; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
}
.image{
  height: 350px;
  width: 350px;
}
.flex-class{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.w-20{
  width: 20%;
}
div{
  margin: 1%;
}
.text{
  font-size: 1.5em;
}
.m-2{
  margin: 3%;
  margin-right: 20%;
}
