<div *ngIf="post">
  <h2>{{post.title}}</h2>
  <div>
    <div class="flex-class">
      <img class="image" [src]="'http://localhost:8080/images/'+ post.photo">
    </div>
    <div>
      <star-rating [starType]="'svg'"
                   labelText="{{this.post.user.rating.toString() | slice: 0 : 3}} "
                   [rating]="this.post.user.rating"
                   [step]=".5"
                   [showHalfStars]="true"
                   [hoverEnabled]="true"
                   (starClickChange)="updateUserRating($event)">
      </star-rating>
    </div>
    <div class="">
      <div>
        Тип поста: {{post.kind}}
      </div>
      <div>
        <p>Додаткова інформація:</p>
        {{post.optionalField}}
      </div>
      <div>
        Від: {{post.date}}
      </div>
      <div>
        До: {{post.expirationDate}}
      </div>
    </div>
    <button mat-button *ngIf="this.post.user.id === this.user.id">Edit</button>
    <button mat-button class="cross" (click)="onClick()">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
