<h1>Додати тваринку</h1>

<form #petForm (ngSubmit)="savePet()">
  <mat-form-field>
    <mat-label>Тип тварини</mat-label>
    <mat-select [(ngModel)]="pet.type" name="type">
      <mat-option *ngFor="let t of type" value="{{t}}">
        <div>{{t}}</div>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text"
           placeholder="Кличка"
           [(ngModel)]="pet.name"
           required
           name="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Вік (років)"
           [(ngModel)]="pet.age"
           required
           name="age">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Розмір</mat-label>
    <mat-select [(ngModel)]="pet.size" name="size">
      <mat-option *ngFor="let s of size" [value]="s.valueOf()">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="pet.type === 'КІТ' || pet.type === 'ПЕС'">
    <mat-label>Довжина шерсті</mat-label>
    <mat-select [(ngModel)]="pet.hairLength" name="hairLength">
      <mat-option *ngFor="let h of hairLength" value="{{h}}">
        {{h}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <input type="file" name="petPhoto" (change)="onPetPhotoUpload($event)">
  <img class="imagePreview" [src]="petPreview" alt="" *ngIf="petPreview">
  <button mat-button type="submit" (click)="onSubmit()">Додати</button>
</form>
<button mat-button class="loginCross" (click)="onSubmit()">
  <mat-icon>done</mat-icon>
</button>
