<form (ngSubmit)="login()">
  <mat-form-field>
  <input matInput
      #nameI="ngModel"
      type="text"
      name="name"
      placeholder="Enter your username"
      [(ngModel)]="user.username">
  </mat-form-field>
  <mat-form-field>
  <input matInput type="text"
         name="password"
         placeholder="Enter your password"
         [(ngModel)]="user.password">
  </mat-form-field>
  <button mat-button type="Submit">Login</button>
</form>

If you don't have an account <a routerLink="/register">register</a>
<router-outlet></router-outlet>
