<app-header></app-header>
<h1>Профіль</h1>
<mat-tab-group>
  <mat-tab label="Мій профіль">
    <div *ngIf="this.user">

      <div *ngIf="user.avatar != null; else photo"><img [src]="this.authUser.apiService.apiUrl + '/images/'+this.user.avatar"
                                                        class="avatar" alt="userPhoto"></div>
      <ng-template #photo><img src="http://storage.proboards.com/6747819/images/kIDnzzBGZLVoizBNhvQs.png" alt="">
      </ng-template>
      <div *ngIf="editable === false">
        <h3> {{this.user.name}} {{this.user.surname}} </h3>
        <h3>Email: {{this.user.email}}</h3>
        <h3>Телефон: {{this.user.phoneNumber}}</h3>
      </div>
      <section ngSwitch="(editIndex == $index)">
        <star-rating [starType]="'svg'"
                     labelText="{{this.user.rating.toString() | slice: 0 : 3}} "
                     [rating]="this.user.rating"
                     [step]=".5"
                     [showHalfStars]="true"
                     [readOnly]="true">
        </star-rating>
        <!-- Edit Fields -->
        <h3 *ngIf="editable === true">
          <input [(ngModel)]="this.user.name" placeholder="Ім'я" type="text">
          <input [(ngModel)]="this.user.surname" placeholder="Прізвище" type="text">
          <input [(ngModel)]="this.user.email" placeholder="Е-Пошта" type="text">
          <input [(ngModel)]="this.user.phoneNumber" placeholder="Телефон" type="text">
          <input type="file" [(ngModel)]="this.user.avatar" placeholder="Фото">
        </h3>
        <div>

          <!-- Default Buttons -->
          <button mat-button *ngIf="editable === false" (click)="editUser()">Редагувати</button>

          <!--Buttons for editing -->
          <div *ngIf="editable === true">
            <button mat-button (click)="updateUser()">Зберегти</button>
            <button mat-button (click)="cancelEdit()">X</button>
          </div>
        </div>
      </section>
    </div>

  </mat-tab>
  <mat-tab label="Мої тваринки">
    <button mat-button (click)="onClick()">Додати тваринку</button>
    <mat-expansion-panel *ngFor="let pe of this.userPets" (expandedChange)="getOnePet(pe.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{pe.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{pe.type}} {{pe.age}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <img class="petImage flex" [src]="this.authUser.apiService.apiUrl + '/images/'+ pe.photo">
      <h5 *ngIf="editable === true">
        <input [(ngModel)]="this.pet.name" placeholder="Ім'я" type="text"/>
        <input [(ngModel)]="this.pet.age" placeholder="Вік" type="text"/>
        <mat-form-field>
          <mat-label>Розмір</mat-label>
          <mat-select [(ngModel)]="pet.size" name="size">
            <mat-option *ngFor="let s of size" [value]="s.valueOf()">
              {{s}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="pet.type === 'КІТ' || pet.type === 'ПЕС'">
          <mat-label>Довжина шерсті</mat-label>
          <mat-select [(ngModel)]="pet.hairLength" name="hairLength">
            <mat-option *ngFor="let h of hairLength" value="{{h}}">
              {{h}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </h5>
      <div *ngIf="editable === true">
        <button mat-button (click)="updatePet()">Зберегти</button>
        <button mat-button (click)="cancelEdit()">X</button>
      </div>
      <div *ngIf="editable === false">
        <p>Ім'я: {{pe.name}}</p>
        <p>Вік: {{pe.age}}</p>
        <p>Розмір: {{pe.size}}</p>
        <p>Довжина шерсті: {{pe.hairLength}}</p>
      </div>
      <button mat-button *ngIf="editable === false" (click)="editUser()">Редагувати</button>
    </mat-expansion-panel>
  </mat-tab>
  <mat-tab label="Мої пости">
    <div *ngIf="this.userPosts" class="cards">
      <div *ngFor="let post of this.userPosts">
        <mat-card class="mat-card" *ngIf="post.enabled" (click)="postDetails(post)">
          <mat-card-header>
            <div mat-card-avatar *ngIf="post.user.avatar === null; else photo">
              <img mat-card-avatar src="http://storage.proboards.com/6747819/images/kIDnzzBGZLVoizBNhvQs.png" alt="">
            </div>
            <ng-template mat-card-avatar #photo>
              <img mat-card-avatar
                   [src]="this.authUser.apiService.apiUrl + '/images/'+ post.user.avatar">
            </ng-template>
            <mat-card-subtitle>{{post.user.name}} {{post.user.surname}}</mat-card-subtitle>
            <mat-card-title>{{post.title}}</mat-card-title>
          </mat-card-header>
          <div *ngIf="post.kind === 'Залишити'">
            <div *ngIf="post.photo; else blankPhoto">
              <img mat-card-image class="postImage" [src]="this.authUser.apiService.apiUrl + '/images/'+ post.photo">
            </div>
            <ng-template #blankPhoto>
              <img mat-card-image class="postImage"
                   src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/2-interior-wall-with-blank-picture-frame-jon-boyes.jpg"
                   alt=""></ng-template>
          </div>
          <div *ngIf="post.pet && post.kind === 'Віддати'">
            <img mat-card-image class="postImage" [src]="this.authUser.apiService.apiUrl + '/images/' + post.pet.photo">
          </div>
          <mat-card-content class="text">{{post.optionalField}}</mat-card-content>
          <mat-card-footer>
            <div *ngIf="post.date && post.expirationDate">
              {{post.date}} - {{post.expirationDate}}
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
