* {
  font-family: 'proxima_nova_rgregular', Arial, sans-serif;
}
.cards{
  display: flex;
  flex-direction: row;
}
.mat-card{
  width: 20%;
  margin: 10px;
  background: aquamarine;
  transition: width 1s, height 1s, background-color 0.5s, transform 1s;
}
.mat-card:hover{
  width: 22%;
}

mat-card-footer{
  margin: 1%;
}

.postImage{
  height: 300px;
}
.text{
  overflow: hidden;
  height: 50px;
}
