.mat-card{
  width: 20%;
  margin: 10px;
  display: inline-block;
  background: aquamarine;
  transition: width 1s, height 1s, background-color 0.5s, transform 1s;
}
.mat-card:hover{
  width: 22%;
}
.header{
  background: blueviolet;
  margin: auto;
  alignment: right;
  text-align: center;
  display: inline-block;
  width: 70%;
}
.login{
  margin: auto;
  display: inline-block;
  background: aqua;
}
mat-card-footer{
  margin: 1%;
}
.cards{
  margin: 0%;
}
