<app-header></app-header>
<div *ngIf="this.posts" class="cards">
  <mat-card class="mat-card" *ngFor="let post of this.posts" (click)="postDetails(post)">
    <mat-card-header>
      <img mat-card-avatar [src] = "'http://localhost:8080/images/'+ post.user.avatar">
      <mat-card-subtitle>{{post.user.name}} {{post.user.surname}}</mat-card-subtitle>
      <mat-card-title>{{post.title}}</mat-card-title>
    </mat-card-header>
    <div *ngIf="post.photo && post.kind === 'Залишити'">
      <img mat-card-image class="postImage" [src] = "'http://localhost:8080/images/'+ post.photo">
    </div>
    <div *ngIf="post.pet && post.kind === 'Віддати'">
      <img mat-card-image class="postImage" [src] = "'http://localhost:8080/images/'+ post.pet.photo">
    </div>
    <mat-card-content class="text">{{post.optionalField}}</mat-card-content>
    <mat-card-footer>{{post.date}} - {{post.expirationDate}}</mat-card-footer>
  </mat-card>
</div>
<router-outlet></router-outlet>
