.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.view{
  display: inline-block;
  flex-direction: row;
}
.form{
  display: inline-block;
  height: 300px;
}
.preview{
margin: 5px;
  display: inline-block;
}
img{
  height: 200px;
  width: 200px;
}
mat-form-field{
  margin: 5px;
}
.mat-button {
  background: cornflowerblue;
}
